* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {

            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #4c8eaf;
            color: white;
            padding: 12px 0;
        }

        header h1 {
            margin: 0;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
        }

        nav ul li a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        main {
            display: flex;
            min-height: 90vh;
        }

        .side {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100vh;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: center;
        }

        .side nav {
            width: 100%;

            padding: 20px;

            border-radius: 8px;
            position: relative;
            top: 60px;
        }

        .side nav h2 {
            margin-bottom: 20px;
            color: #333;
            text-align: center;
        }

        .side ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 0;
        }

        .side li {
            background-color: #211212;
            border-radius: 10px;
            text-align: center;
            padding: 12px;
        }
      
      

         
        .main_pages {
            margin-left: 270px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1px;
            width: calc(100% - 270px);
         
          
        }

        .main_pages iframe {
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transform: scale(0.8);
        }

       